<div id="say" lang="el">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
  </button>
  <span class="text hidden"><%= text %></span>
</div>
